/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FADDDD;
    color:#6b0237 ;
    overflow-x: hidden;

}

/* Navigation Bar */

.navbar .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    background-color:  #99004d;
    width: 100%;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    .search-container {
        display: flex;
        margin: 20px 0;
    }
}
.navbar .menu li {
    margin: 0 20px;
    color: white;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar .menu li:hover {
    background-color: #6b0237;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    background-color: #99004d;
    list-style: none;
    transition: 2s ease-in-out;
}

.dropdown:hover .dropdown-content{
    display: block;
    transition: 1s ease-in-out;
}

/* Search function */
.search-container {
    display: flex;
    margin: 20px 0; 
}

.search-input {
    padding: 10px;
    width: 300px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #5c104e;
    outline: none;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    background-color: #6b0237;
    color: white;
    border: 2px solid #6b0237;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #ffffff;
    color: #6b0237;
}

/*    position: absolute;??? */
/* speaker profile */

.profile .profile-info {
    color: #6b0237;
    margin-top: 15px;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 8px;
}
.profile img {
float: left;
margin-right: 10px;
margin-left: 25px;
margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}


/* Webinar */
.media-player {
position: relative;
float: left;
   background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(152, 12, 12, 0.575);
    border-radius: 5px;
    margin-top: 100px;
    width: 900px; 
    height: 100%;
    max-width: 64rem;
    max-height: 30rem;
    margin: 1.25rem auto;
    padding: 1%;
}
  
  .media-player video {
    width: 100%;
    height: 100%;
  }

/* Comment Section Styling */
.comments-section {
    position: relative; 
right: 0px;
left: 500px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
    height: 28rem;
    width: 400px; 
    margin: 50px auto; /* Center horizontally */
    box-shadow: 0 2px 10px rgba(152, 12, 12, 0.575);
    margin-bottom: 50px;
}

/* Webinar
.media-player {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(152, 12, 12, 0.575);
    text-align: center;
    border-radius: 5px;
    margin-top: 100px;
    width: 850px; 
    height: 100%;
    max-width: 64rem;
    max-height: 30rem;
    margin: 1.25rem auto;
    padding: 1%;
}
  
  .media-player video {
    width: 100%;
    height: 100%;
  }
.comments-section {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
    width: 850px; 
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(152, 12, 12, 0.575);
}
*/


/* Featured Articles */
#relevant-articles {
    background-color: #fff;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 50px;
    width: 100%;
    border-radius: 8px;
}
#heading 1 {
    font-size: 40px;
    margin-bottom: 150px;
}
#heading 2 {
    font-size: 18px;
    margin-bottom: 150px;
}

#relevant-articles img {
    background-color: #f0f0f0;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
}

.articles .article {
    display: flex;
    justify-content: center; 
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

.articles .button {
    background-color: #6b0237;
    color:#FADDDD;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Other Webinar */
#webinars h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

#webinars .categories button {
    background-color: #6b0237;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
}

#webinars .webinar-list {
    display: flex;
    justify-content: space-between;
}

#webinars .webinar {
    background-color: #f0f0f0;
    padding: 20px;
    width: 23%;
    border-radius: 8px;
}

#webinars .webinar h3 {
    color: #99004d;
}

#webinars .webinar a {
    color: #99004d;
    text-decoration: none;
}
/* Relevant Contourings */
#contouring {
    background-color: #fff;
    padding: 40px 20px;
}
#contouring h2 {
    font-size: 22px;
    margin-bottom: 20px;
}
#contouring .contour h3 {
    color: #99004d;
}
#contouring .contouring-list {
    display: flex;
    justify-content: space-between;
}

#contouring .contour {
    background-color: #f0f0f0;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
}

#contouring .contour h3 {
    color: #99004d;
}

/* footer */
footer {
    background-color: #99004d;
    color: white;
    text-align: center;
    padding: 20px;
}
footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: white;
    text-decoration: wavy;
}
footer ul li a {
    color: white;
    text-decoration: wavy;
}
