/* General Styles */
/* Schrijf hier de verschillende stijlen, die gedeeld gaan
   worden door jullie projecten */


   :root{
    /*Color*/
    --primary-color: #6a0025;
    --secondary-color-dark: #1F000B;
    --secondary-color-light:#f4eaee;
    --white: #fff;
    --black: #000;

    --primary-bg-batik: linear-gradient(rgba(244, 234, 238,.98), rgba(244, 234, 238,.97)), url("./assets/batik/pattern_waves-7_1_2_0-0_20_1__ffffff_000000_a90c00.png");
    --secondary-bg-batik: linear-gradient(rgba(244, 234, 238,.98), rgba(244, 234, 238,.97)), url("./assets/batik/pattern_batik-1_3_2_0-0_115_2__ffffff_b60003_b20606.png");
    --landing-page-bg:linear-gradient(rgb(106, 0, 37,.98), rgb(106, 0, 37,.98)),  url("./assets/batik/pattern_batik-1_3_2_0-0_115_2__ffffff_b60003_b20606.png") ;
    --primary-bg-color: rgb(244, 234, 238);
    --opacity-bg: 0.02;

    --filter-normal: #D2B2BD;
    --filter--text-normal: #1F000B;
    --filter-hover: #B47F92;
    --filter-text-active: #fff;
    --filter-active: #6A0025;
    --filter-active-hover: #4A0019;

    --button-normal: #F0E5E9;
    --button--text-normal: #1F000B;
    --button-hover: #6A0025;
    --button-text-active: #fff;
    --button-active:  #B47F92;
    --button-active-hover: #4A0019;

    --button-login-normal: #fff;

    --status-: #934661;
    --status-text: #F0E5E9;

    --text: #1F000B;

    /*typografy*/

    --primary-font: "Inter", serif; 
    --secondary-font: "Jost", serif;

    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --font-size-xxxl: 85px;
    --font-size-xxl: 75px;
    --font-size-xl: 35px;
    --font-size-l:24px;
    --font-size-m-l: 20px;
    --font-size-m: 18px;
    --font-size-s: 14px;


    /*forms*/

    --form-text:;
    --form-radio:;
    --form-checkbox:;
    --form-search:;
    --form-range:;
    --form-button:;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FADDDD;
    color:#6b0237 ;
    overflow-x: hidden;

}

/* Navigation Bar */

.navbar .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    background-color:  #99004d;
    width: 100%;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    .search-container {
        display: flex;
        margin: 20px 0;
    }
}
.navbar .menu li {
    margin: 0 20px;
    color: white;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar .menu li:hover {
    background-color: #6b0237;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    background-color: #99004d;
    list-style: none;
    transition: 2s ease-in-out;
}

.dropdown:hover .dropdown-content{
    display: block;
    transition: 1s ease-in-out;
}

/* Search function */
.search-container {
    display: flex;
    margin: 20px 0; 
}

.search-input {
    padding: 10px;
    width: 300px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #5c104e;
    outline: none;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    background-color: #6b0237;
    color: white;
    border: 2px solid #6b0237;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #ffffff;
    color: #6b0237;
}

/*    position: absolute;??? */
/* speaker profile */

.profile .profile-info {
    color: #6b0237;
    margin-top: 15px;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 8px;
}
.profile img {
float: left;
margin-right: 10px;
margin-left: 25px;
margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}


/* Webinar */
.media-and-comments-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.media-player {
    position: relative;
    margin-left: 0; 
    margin-right: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    width: 900px;
    height: 100%;
    max-width: 63rem;
    max-height: 20rem;
    padding: 20px;
}

.media-player video {
    width: 100%;
    height: 100%;
}

.comments-section {
    position: relative;
    margin-top: 20px; 
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
    height: 450px;
    width: 500px; 
    box-shadow: 0 2px 10px rgba(152, 12, 12, 0.575);
    margin-right: 0;
    margin-left: 20px; 
    margin-bottom: 20px;
}
*/


/* Webinar
.media-player {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(152, 12, 12, 0.575);
    text-align: center;
    border-radius: 5px;
    margin-top: 100px;
    width: 850px; 
    height: 100%;
    max-width: 64rem;
    max-height: 30rem;
    margin: 1.25rem auto;
    padding: 1%;
}
  
  .media-player video {
    width: 100%;
    height: 100%;
  }
.comments-section {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
    width: 850px; 
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(152, 12, 12, 0.575);
}
*/


/* Featured Articles */
#relevant-articles {
    background-color: #fff;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 50px;
    width: 100%;
    border-radius: 8px;
}
#heading 1 {
    font-size: 40px;
    margin-bottom: 150px;
}
#heading 2 {
    font-size: 18px;
    margin-bottom: 150px;
}

#relevant-articles img {
    background-color: #f0f0f0;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
}

.articles .article {
    display: flex;
    justify-content: center; 
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

.articles .button {
    background-color: #6b0237;
    color:#FADDDD;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Other Webinar */
#webinars h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

#webinars .categories button {
    background-color: #6b0237;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
}

#webinars .webinar-list {
    display: flex;
    justify-content: space-between;
}

#webinars .webinar {
    background-color: #f0f0f0;
    padding: 20px;
    width: 23%;
    border-radius: 8px;
}

#webinars .webinar h3 {
    color: #99004d;
}

#webinars .webinar a {
    color: #99004d;
    text-decoration: none;
}
/* Relevant Contourings */
#contouring {
    background-color: #fff;
    padding: 40px 20px;
}
#contouring h2 {
    font-size: 22px;
    margin-bottom: 20px;
}
#contouring .contour h3 {
    color: #99004d;
}
#contouring .contouring-list {
    display: flex;
    justify-content: space-between;
}

#contouring .contour {
    background-color: #f0f0f0;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
}

#contouring .contour h3 {
    color: #99004d;
}

/* footer */
footer {
    background-color: #99004d;
    color: white;
    text-align: center;
    padding: 20px;
}
footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: white;
    text-decoration: wavy;
}
footer ul li a {
    color: white;
    text-decoration: wavy;
}
